@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.header {
	animation: slide 0.7s ease-in;
	border-bottom: 1px solid var(--input);
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}
.header__list {
	display: flex;
	gap: 20px;
}

.header__list li {
	list-style-type: none;
}

.header__link {
	color: var(--muted-foreground);
	transition: color 0.3s ease;
}

.header__link:hover {
	color: var(--card-foreground);
}
