li {
	list-style-type: none;
}

section {
  margin-top: 40px;
}

.card {
	border: 1px solid var(--input);
	background-color: var(--card);
	border-radius: 8px;
	padding: 12px;
}

.about-me-main {
	color: var(--card-foreground);
}

.profile {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 12px;
	margin-bottom: 40px;
}

.profile__user-card {
	width: 100%;
}

.profile__bio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile__photo {
	border-radius: 50%;
	margin-bottom: 8px;
}

.profile__socials {
	display: flex;
	gap: 16px;
	margin-top: 12px;
}

.profile__about-me {
	grid-row: span 2;
	grid-column: 1;
	height: 100%;
}

.profile__quote {
	text-align: center;
	color: var(--muted-foreground);
	font-size: 14px;
	margin-top: 12px;
}

.profile__quote::selection {
	color: var(--card-foreground);
}
.profile__favorite-game {
  height: 100%;
}
.profile__favorite-game img {
	width: 100%;
  height: 94%;
  border-radius: 8px;
}
.favorite-game__title {
	margin-bottom: 8px;
	text-align: center;
	color: var(--sidebar-primary);
}

.profile__favorite-songs {
	grid-column: span 2;
	grid-row: span 2;
}

.profile__songs-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile__song-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--input);
	border-radius: 8px;
	padding: 12px;
	transition: background-color 0.5s ease;
}

.profile__song-item:hover {
	background-color: var(--destructive);
	cursor: pointer;
}

.profile__song-item:hover .profile__song-time {
	color: var(--card-foreground);
}

.profile__song-info {
	display: flex;
	gap: 12px;
}

.profile__song-info img {
	border-radius: 8px;
}

.profile__song-time {
	color: var(--muted-foreground);
	transition: color 0.5s ease;
}

.profile__favorite-songs-title {
	margin-bottom: 8px;
	color: var(--sidebar-primary);
}

.profile__favorite-food {
	grid-column: 2/4;
	grid-row: 1;
}

.profile__food-list {
	display: flex;
	justify-content: space-between;
}
.profile__favorite-food-title {
	margin-bottom: 8px;
	color: var(--sidebar-primary);
}
.profile__food-list li img {
	border-radius: 8px;
}

.profile__song-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--card-foreground);
}
